/*  */
:root{
    --color-primario:darkcyan; 
    --color-secundario: darkgreen;
    --color-background: #f4f4f4;
    --color-terciario: lightgray;
    --color-texto:#333;
}
/* Reset básico */
*{
    box-sizing: border-box;
}
body{
    /* Estas dos propiedades no se heredan a los hijos */
    margin: 0;
    padding: 0;
    /* Estilos generales aplicados en body que se heredan a los hijos */
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--color-texto);
    background-color: var(--color-background);
}
header, main, footer{
    margin: 0;
    padding: 20px;    
}
footer{
    text-align: center;
}
/* Según la propiedad de especificidad se va a dar mayor prioridad al selector que sea más delimitado.
En este caso header h1*/
header h1 {
    color: var(--color-primario);
}
h1{
    color: blue;
}
.author{
    font-weight: bold;
    color: var(--color-primario);
}

.subtitle{
    font-size: 18px;
    color: var(--color-secundario);
}

.lista-tareas{
    list-style-type: none;
    margin-top: 25px;
    padding: 0;
}
.lista-tareas li{
    margin-bottom: 15px;
}

.tarea-checkbox{
    margin-right: 15px;
    accent-color: var(--color-primario);
    cursor: pointer;    
}

.tarea-checkbox:checked +.tarea-descripcion{
    text-decoration: line-through;
    font-style: italic;
    color:var(--color-terciario);
}
