/* Reset básico */
*{
    box-sizing: border-box;
}
body{
    /* Estas dos propiedades no se heredan a los hijos */
    margin: 0;
    padding: 0;
    /* Estilos generales aplicados en body que se heredan a los hijos */
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    background-color: #f4f4f4;
}
header, main, footer{
    margin: 0;
    padding: 20px;    
}
footer{
    text-align: center;
}
/* Según la propiedad de especificidad se va a dar mayor prioridad al selector que sea más delimitado.
En este caso header h1*/
header h1 {
    color: darkcyan;
}
h1{
    color: blue;
}
.author{
    font-weight: bold;
    color: darkcyan;
}

.subtitle{
    font-size: 18px;
    color: darkgreen;
}

.lista-tareas{
    list-style-type: none;
    margin-top: 25px;
    padding: 0;
}
.lista-tareas li{
    margin-bottom: 15px;
}

.tarea-checkbox{
    margin-right: 15px;
    accent-color: darkcyan;
    cursor: pointer;    
}

.tarea-checkbox:checked +.tarea-descripcion{
    text-decoration: line-through;
    font-style: italic;
    color:lightgray;
}
