body{
    /* font-family_Tipografía Hay algunos navegadores que no son compatibles con alguna fuente, por eso se enlistan muchos tipos en este
    line-height_El numero que se pone toma como referencia el tamaño de la fuente, espaciado para mejorar la legibilidad*/
    background-color: white;
    font-family: 'Times New Roman', Times, serif; 
    line-height: 1.5;   
}
header{
    /* rgb(213,131,113, 0.5) 
    background: linear-gradient(blue,pink)_Para hacer un degradado
    text-align_Solo funciona con elementos en bloque porque afecta el contenido dentro del pbloque. No funciona en elementos en líena porque estos elementos solo ocupan solo el espacio necesario para su contenido
    */
    background-color: rgb(213, 131, 113, 0.5);
    color: #B95843;
    text-align: center;
}

footer{
    background-color: #E7B0A5;
}

.menu{
    /* list-style_Quita los puntitos de la lista */
    list-style: none;
}
 
.enlace{
    text-decoration:none;
    color: black;
    font-weight: bold;
}

.enlace:hover{
    /* Esto cambia la forma en la que se ve el texto con el cursor */
    color: #B95843;
    text-decoration:underline;
}

.subtitulo{
    font-size: 20px;
    color: #945B4F;
}

.boton-contacto{
    background-color: rgb(209, 167, 117);
    color: black;
    width: 100px;
    height: 50px;
    border: none;
    
}

.boton-contacto:hover{
    background-color: rgb(145, 130, 118);
}

.boton-contacto:active{
    background-color: white;
}

#titulo-principal{
    /* Utilizar los selectores de id con mucho cuidado
    Los id tienen una mayor especificidad en css lo que puede causar problemas */
    text-decoration: underline;
}